<div class="row" style="height: 77vh;">


  <div class="col-md-12">

    <div>
      @if (account() !== null) {
        <div class="alert alert-success">
          @if (account()) {
            <span id="home-logged-message">You are logged in as user &quot;{{ account()!.login }}&quot;.</span>
          }
        </div>
      } @else {
        <div class="container">
          <div class="container-son">
            <span>Welcome to Task Management System</span>

            <div class="container-buttons">
              <button class="btn btn-primary" [routerLink]="['/login']">Sign in</button>
              <button class="btn btn-primary" [routerLink]="['/account/register']">Register</button>
            </div>

          </div>
        </div>
        <!--
        <div class="alert alert-warning">
          <span>If you want to </span>
          <a class="alert-link" (click)="login()">sign in</a
          ><span
            >, you can try the default accounts:<br />- Administrator (login=&quot;admin&quot; and password=&quot;admin&quot;) <br />- User
            (login=&quot;user&quot; and password=&quot;user&quot;).</span
          >
        </div>

        <div class="alert alert-warning">
          <span>You don&apos;t have an account yet?</span>&nbsp;
          <a class="alert-link" routerLink="/account/register">Register a new account</a>
        </div>
        -->
      }
    </div>
    
    
  

  </div>
</div>
