/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
    background-size: contain;
  }
}

.container {
  background-color: #212529; //text color: 9b9d9e
  width: 40vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container-son{
    display: flex;
    flex-direction: column;


    span {
      color: #9b9d9e;
      font-size: 25px;
      font-weight: 900;
    }

    .container-buttons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 50px;

      button {
        color: #212529;
        background-color:#9b9d9e;
        border-color: #cbcccd;
      }
    }
  }

}
